.flex-container{
    display: flex;
    color: white;
    font-family: sans-serif;
}
.box {
    width: 1507px;
    height: 500px;
}
#navy{
    background-color: #1f2937;
    padding-left: 200px;
    font-size: medium;
}
.number1{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: large;
    margin-top: 25px;
}
.external{
    font-weight: bolder;
    font-size: larger;
}
.img{
    text-align: center;
}